@media screen and (max-width: 767px) {
  html {
    font-size: 34px;
  }
}
@media screen and (max-width: 413px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 323px) {
  html {
    font-size: 26px;
  }
}
@media only screen and (min-height: 812px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-height: 1024px) {
  html {
    font-size: 48px;
  }
}
@media only screen and (min-height: 1366px) {
  html {
    font-size: 64px;
  }
}
#__01 {
  background-color: #f4f5f9;
}
#__01 .row {
  margin: 0;
  width: 100%;
}
#__01 .row .col-3 {
  padding: 0;
}
#__01 .row .col-3 .nav flex-column nav-pills {
  overflow: auto;
}
#__01 .row .col-3 .nav flex-column nav-pills a {
  display: block;
  width: 100%;
  padding: 0 0 0 0.5rem;
  font-size: 0.5rem;
}
#__01 .row .col-3 .nav flex-column nav-pills a:focus {
  background: blue !important;
}
#__01 .row .col-9 {
  padding: 0;
}
#__01 .row .col-9 .series {
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  width: 100%;
  height: 4rem;
  background-color: white;
  display: inline-flex;
  padding-top: 0.3rem;
  border-bottom: #f8f8f8 solid 0.1rem;
  border-left: white solid 0.2rem;
}
#__01 .row .col-9 .series .productImg {
  width: 3rem;
  height: 3rem;
}
#__01 .row .col-9 .series .wenzi {
  margin-left: 0.3rem;
}
#__01 .row .col-9 .series .wenzi .title {
  display: block;
  font-size: 0.5rem;
  font-weight: 600;
  word-break:keep-all;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: 5rem;
  flex-shrink: 0;
}
#__01 .row .col-9 .series .wenzi .miaoshu {
  display: block;
  font-size: 0.2rem;
  font-weight: 300;
  word-break:keep-all;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: 5rem;
  flex-shrink: 0;
}
#__01 .row .col-9 .series .wenzi .num {
  margin-top: 0.7rem;
  margin-left: 2.8rem;
  display: block;
  font-size: 0.2rem;
  font-weight: 300;
}
#__01 .row .col-9 .series .wenzi .tap {
  float: left;
  display: inline-flex;
  height: 0.5rem;
}
#__01 .row .col-9 .series .wenzi .tap .num1 {
  display: inline-block;
  font-size: 0.2rem;
  font-weight: 300;
  margin: 0;
  background-color: #ff6655;
  width: 1.6rem;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
}
#__01 .row .col-9 .series .wenzi .tap .num2 {
  display: inline-block;
  font-size: 0.2rem;
  font-weight: 300;
  margin: 0;
  background-color: #ff6655;
  width: 3rem;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
}
#__01 .row .col-9 .series .wenzi .much {
  margin-top: 0.6rem;
  display: block;
}
#__01 .row .col-9 .series .wenzi .much .price {
  color: red;
  font-size: 0.5rem;
}
#__01 .row .col-9 .series .wenzi .much .price .first {
  font-size: 0.7rem;
}
#__01 .row .col-9 .series .wenzi .much .delete {
  font-size: 0.4rem;
  text-decoration: line-through;
  font-weight: 300;
}
#__01 .row .col-9 .series .wenzi .much img {
  margin-left: 1.4rem;
  width: 0.7rem;
  height: 0.7rem;
}
#__01 .row .col-9 .fix {
  height: 1rem;
  width: 100%;
}
#__01 .navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.7rem;
  display: flex;
  background-color: white;
  padding: 0;
  border-top: #bbb9b9 solid 1px;
}
#__01 .navbar .navItem {
  display: grid;
  justify-items: center;
  width: 2rem;
  font-size: 0.3rem;
}
#__01 .navbar .navItem img {
  width: 0.7rem;
  height: 0.7rem;
  border: none;
  background-color: #666666;
}
#__01 .navbar .navItem img:active {
  background: #84d027;
}
